// Place all the styles related to the cohorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#cohort-name a {
  color: #f16667;
  font-family: Myriad Pro;
  font-weight: bold;
  font-size : 22px;
  letter-spacing: 1px;
  line-height: 280%;
  margin-right: 100px;
}

.cohort-grouping a, #cohort-location {
  height: 90px;
  color:  #3c393e;
  font-family: Myriad Pro;
  font-size: 10px;
  letter-spacing: .7px;
  
}

#cohort-show-container > h1{
  color: #3c393e;
  font-family: Myriad Pro;
  font-weight: bold;
  font-size : 36px;
  letter-spacing: 1px;
  line-height: 280%;
  margin-right: 100px;
}

#cohort-show-container {
  margin: 5px auto;
  width: 700px;
}

.new_cohort {
position: absolute;
  width: 300px;
  height: 300px;
  background-color: white;
  padding-left: 3%;
  padding-top: 420px;
}

#form1.field, #form1.actions {
  position: relative;
  top: -400px;
  margin-top: 30px;
}